In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
Carrier_Data = "Flightdata.csv"

In [3]:
Carrier_Data_df = pd.read_csv(Carrier_Data)

In [6]:
Carrier_Data_df.count()

UNIQUE_CARRIER_NAME    235105
ORIGIN                 235105
ORIGIN_CITY_NAME       235105
ORIGIN_STATE_ABR       216096
ORIGIN_STATE_NM        216096
ORIGIN_COUNTRY         235105
ORIGIN_COUNTRY_NAME    235105
ORIGIN_WAC             235105
DEST                   235105
DEST_CITY_NAME         235105
DEST_STATE_ABR         216363
DEST_STATE_NM          216363
DEST_COUNTRY           235105
DEST_COUNTRY_NAME      235105
DEST_WAC               235105
YEAR                   235105
QUARTER                235105
MONTH                  235105
DISTANCE_GROUP         235105
PASSENGERS             235105
DISTANCE               235105
CLASS                  235105
flight                 235105
dtype: int64

In [ ]:
#Carriergrp = Carrier_Data_df.groupby(['UNIQUE_CARRIER_NAME','YEAR','MONTH'])
#Passengers_sum = Carrier_Data_df['PASSENGERS'].sum()
#Airlines_df = Carriergrp.pivot(index='UNIQUE_CARRIER_NAME', columns=['YEAR', 'MONTH'], values='Passengers_sum')

In [42]:
Carrier_Data_df2019 = Carrier_Data_df.loc[Carrier_Data_df['YEAR']==2019,:]
Carrier_Data_df2020 = Carrier_Data_df.loc[Carrier_Data_df['YEAR']==2020,:]

In [43]:
Carrier_Analysis = pd.pivot_table(Carrier_Data_df2019, values='PASSENGERS', index='UNIQUE_CARRIER_NAME',
                    columns=['YEAR', 'MONTH'], aggfunc=np.sum)
Carrier_Analysis['2019 Total'] = Carrier_Analysis.sum(axis=1)
Carrier_Analysis['2020 Total'] = Carrier_Analysis.sum(axis=1)
Carrier_Analysis

YEAR                                                    2019            \
MONTH                                                      1         2
UNIQUE_CARRIER_NAME
40-Mile Air                                             36.0      26.0
ABC Aerolineas SA de CV dba Interjet                209027.0  150348.0
ADVANCED AIR, LLC                                     1875.0    1692.0
Aer Lingus Plc                                      128162.0  103450.0
Aeroenlaces Nacionales, S.A. de C.V. d/b/a Viva...   33780.0   20825.0
...                                                      ...       ...
Warbelow                                               315.0     291.0
Westjet                                             475991.0  486253.0
Wright Air Service                                    4055.0    4136.0
XL Airways France                                     2922.0       NaN
Xiamen Airlines Co., Ltd.                            23596.0   35199.0

YEAR                                                                    \
MONTH                                                      3         4
UNIQUE_CARRIER_NAME
40-Mile Air                                             59.0      72.0
ABC Aerolineas SA de CV dba Interjet                190420.0  189186.0
ADVANCED AIR, LLC                                     2517.0    2462.0
Aer Lingus Plc                                      180923.0  194694.0
Aeroenlaces Nacionales, S.A. de C.V. d/b/a Viva...   29897.0   37742.0
...                                                      ...       ...
Warbelow                                               294.0     347.0
Westjet                                             574019.0  523976.0
Wright Air Service                                    3702.0    4854.0
XL Airways France                                        NaN   11485.0
Xiamen Airlines Co., Ltd.                            20127.0   20607.0

YEAR                                                                    \
MONTH                                                      5         6
UNIQUE_CARRIER_NAME
40-Mile Air                                             23.0      65.0
ABC Aerolineas SA de CV dba Interjet                212815.0  197099.0
ADVANCED AIR, LLC                                     2539.0    2369.0
Aer Lingus Plc                                      222701.0  236020.0
Aeroenlaces Nacionales, S.A. de C.V. d/b/a Viva...   38759.0   47990.0
...                                                      ...       ...
Warbelow                                               410.0     445.0
Westjet                                             413486.0  378160.0
Wright Air Service                                    5133.0    5487.0
XL Airways France                                    20799.0   34195.0
Xiamen Airlines Co., Ltd.                            22213.0   21379.0

YEAR                                                         2019 Total  \
MONTH                                                      7
UNIQUE_CARRIER_NAME
40-Mile Air                                              NaN      281.0
ABC Aerolineas SA de CV dba Interjet                223965.0  1372860.0
ADVANCED AIR, LLC                                     2265.0    15719.0
Aer Lingus Plc                                      229965.0  1295915.0
Aeroenlaces Nacionales, S.A. de C.V. d/b/a Viva...   53997.0   262990.0
...                                                      ...        ...
Warbelow                                               504.0     2606.0
Westjet                                             387486.0  3239371.0
Wright Air Service                                    5007.0    32374.0
XL Airways France                                    50114.0   119515.0
Xiamen Airlines Co., Ltd.                            24798.0   167919.0

YEAR                                               2020 Total
MONTH
UNIQUE_CARRIER_NAME
40-Mile Air                                             562.0
ABC Aerolineas SA de CV dba Interjet                2745720.0
ADVANCED AIR, LLC                                     31438.0
Aer Lingus Plc                                      2591830.0
Aeroenlaces Nacionales, S.A. de C.V. d/b/a Viva...   525980.0
...                                                       ...
Warbelow                                               5212.0
Westjet                                             6478742.0
Wright Air Service                                    64748.0
XL Airways France                                    239030.0
Xiamen Airlines Co., Ltd.                            335838.0

[205 rows x 9 columns]